<div class="main">
  <div class="content">
    <h1 style="margin: 40px 40px; color: #9f8668; text-shadow: 1px 1px #301e07;">- Capítulo 2 -</h1>
    <div>
      <div id="secondgraphic" ></div>
    </div>
    <img src="/frame-3-2.png">
  </div>
  <div>

    <style>
      .main {
        display: flex;
        justify-content: center;
      }

      .content {
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

      .content img {
        width: 700px;
      }

      .content .title {
        width: 400px;
      }

      #secondgraphic {
        min-width: 300px;
        min-height: 400px;
        width: 500px;
        height: 400px;
      }

      @media (max-width: 620px) {
        .content img {
          width: 400px;
        }
      }
    </style>
