<div class="main">
  <div class="content">
    <h1 style="margin: 40px 40px; color: #9f8668; text-shadow: 1px 1px #301e07;">- Capítulo 2 -</h1>
    <h3 style="width: 80%; color: #6c5335; text-shadow: 1px 1px #301e07;">{{title}}</h3>
    <div>
      <button (click)="changeState('first')" class="button is-link is-outlined">Principal</button>
      <button (click)="changeState('second')" class="button is-link is-outlined">Idade</button>
    </div>
    <div>
      <div id="secondgraphic"></div>
    </div>
    <img src="/frame-3-2.png">
  </div>
  <div>

    <style>
      .main {
        display: flex;
        justify-content: center;
      }

      .content {
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

      .content img {
        width: 700px;
      }

      .content .title {
        width: 400px;
      }

      #secondgraphic {
        width: 700px;
        height: 400px;
      }

      button{
        margin: 10px 10px;
      }

      @media (max-width: 620px) {
        .content img {
          width: 400px;
        }

        #secondgraphic {
          width: 300px;
          height: 300px;
        }
      }
    </style>
