<div class="main">
  <div class="content">
    <img src="/frame2-1.png">
    <div>
      <h1>Dados ingressante no curso de t.i anos 2 mil, 3 anos, e uma correlação entre os tres para mostrar se subiu </h1>

    </div>
    <img src="/frame-2-2.png">
  </div>
<div>

<style>
.main
  {
    display: flex;
    justify-content: center;
  }
  .content{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .content img{
    width: 800px;
  }
</style>
