<div class="main">
  <div class="content">
    <img style="width: 350px;" src="/2016.png">
    <div>
    </div>
    <div>
      <div id="firstgraphic" class="graficos"></div>
    </div>
    <img src="/cap2.png">
  </div>
  <div>

    <style>
      .main {
        display: flex;
        justify-content: center;
      }

      .content {
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

      .content img {
        width: 800px;
      }

      #firstgraphic {
        min-width: 300px;
        min-height: 400px;
        width: 100%;
        height: 400px;
      }

      @media (max-width: 620px) {
        .content img {
          width: 400px;
        }


      }
    </style>
